#image{
    width:20%;
    height:20%;
    border-radius: 5%;
    float: left;
    margin-right: 3%;
}

#projectIMG{
    width: 80%;
    border-radius: 0;
    
}

img {
    width: 32px;
    height: 32px;
    border-radius: 10%;
}

.card{
    margin-top: 15%;
    margin-bottom: 0%;
    margin-left: 10%;
    margin-right: 10%;
}

#portfolio {
    padding:0%;
}

.footer {
    text-align: center;
}
